---
<<<<<<< HEAD
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle = {pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayout>






















<!-- ---
=======
>>>>>>> 83845d86dd038cf4c81dd3c90a64c4c35aebf51f
// import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTlitle="Pagina de Inicio"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTlitle}</title>
	</head>
	<body>
<<<<<<< HEAD
		<-- <a href="/">Inicio</a>
		<a href="/about/">Sobre mi</a>
		<a href="/blog/">Mi Blog</a>		 -->
		<!-- <Navigation/> -->
		<!-- <Header/>-->
		<!-- <h1>{pageTlitle}</h1> -->
		<!-- <script> 
		  document.querySelector('.hamburger').addEventListener('click', () => {
			document.querySelector('.nav-links').classList.toggle('expanded');
		  });
			import "../scripts/menu.js";
		</script -->
	  <!-- </body>
=======
		<!-- <a href="/">Inicio</a>
		<a href="/about/">Sobre mi</a>
		<a href="/blog/">Mi Blog</a>		 -->
		<!-- <Navigation/> -->
		<Header/>
		<h1>{pageTlitle}</h1>
		<script>
		//   document.querySelector('.hamburger').addEventListener('click', () => {
		// 	document.querySelector('.nav-links').classList.toggle('expanded');
		//   });
			import "../scripts/menu.js";
		</script>
	  </body>
>>>>>>> 83845d86dd038cf4c81dd3c90a64c4c35aebf51f
	</body>
</html>  -->
